#include "winuser.h"

#define IDA_ACCEL_TABLE 10000

#define ID_MENU 9000
#define ID_FILE_EXIT 9001
#define ID_FILE_NEW 9002
#define ID_FILE_OPEN 9003
#define ID_FILE_SAVEAS 9004

ID_MENU MENU {
    POPUP "&File" {
        MENUITEM "&New\tCtrl+N", ID_FILE_NEW
		MENUITEM SEPARATOR
		MENUITEM "&Open\tCtrl+O", ID_FILE_OPEN
		MENUITEM "Save &As", ID_FILE_SAVEAS
		MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    }
}

IDA_ACCEL_TABLE ACCELERATORS DISCARDABLE
BEGIN
	"^n", ID_FILE_NEW
	"^o", ID_FILE_OPEN
END
	